body { background-color:rgb(65, 19, 139)}
<<<<<<< HEAD
h1{font-size: 50px;}
p{border-style: dashed;}
=======
h1{font-size: 40px;}
p{border-style: dashed;}
div{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
>>>>>>> dev
